.login-container {
  width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--panel-bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color);
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: var(--text-color);
  color: var(--bg-color);
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}

.login-container button:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
}
