@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {body, #root {
  font-family: "Poppins", serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease, color 0.5s ease;
}
}